:root {
  --animation-time: 0s;
  --from-top-pos: 0;
  --to-top-pos: 100%;
}

/*
Animates from left to right
  Change values for --from-top-pos and --to-top-pos
*/
@keyframes santa-move-right {
    from {
        left: 0;
        top: var(--from-top-pos);
    }
    to {
        left: 100%;
        top: var(--to-top-pos);
    }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.santa {
  animation: santa-move-right var(--animation-time) linear normal infinite;
  background-color: red;
  position: absolute;
  top: var(--from-top-pos);
  left: 0;
}
