:root {
  --animation-time: 0s;
  --animation: santa-move-right;
}

/*
Animates from left to right
  Change values for --from and --to
*/
@keyframes santa-move-right {
    from {
        left: -40%;
        bottom: -3%;
    }
    to {
        left: 120%;
        bottom: -3%;
    }
}

@keyframes santa-move-left {
  from {
      right: -40%;
      bottom: -3%;
  }
  to {
      right: 120%;
      bottom: -3%;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.santa {
  animation: var(--animation) var(--animation-time) linear normal 1;
  position: fixed;
  display: none;
}

.left {
  -moz-transform: 'scaleX(1)';
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: '';
  -ms-filter: '';
}

.right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
