@keyframes santa-move {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

:root {
  --animation-time: 5s;
  --zero-pos: 0;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.santa {
  animation: santa-move var(--animation-time) linear normal infinite;
  background-color: red;
  position: absolute;
  top: var(--zero-pos);
  left: var(--zero-pos);
}
